@{
    ViewData["Title"] = "Confirm Email";
}

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h3 class="title-2"> Thank you for confirming your email. Now you can login into system. </h3>
                </div>
            </div>
        </div>
    </div>
</section>