<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Sign In</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Sign In
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->
<!--/ Signin Star /-->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="login-wrap p-4 p-md-5">
                    <div action="#" class="signin-form">
                        <div class="d-flex">
                            <div class="form-group mb-3 mr-5 w-50" style="width: 40%;">
                                <label class="label" for="name">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" required>
                            </div>
                            <div class="form-group mb-3 w-50" style="width: 40%;">
                                <label class="label" for="name">Second Name</label>
                                <input type="text" class="form-control" placeholder="Second Name" required>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="password">Email</label>
                            <input type="Email" class="form-control" placeholder="Example@example.com" required>
                        </div>
                        <div class="d-flex">
                            <div class="form-group mb-3 mr-5 w-50">
                                <label class="label" for="password">Birthday</label>
                                <input type="Date" class="form-control" required>
                            </div>
                            <div class="form-group mb-3 w-50">
                                <label class="label" for="password">Phone Number</label>
                                <input type="text" class="form-control" placeholder="Ex.912345678" required>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="password">Password</label>
                            <input type="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="password">Password Confirmation</label>
                            <input type="password" class="form-control" placeholder="Password Confirmation" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-success rounded submit px-3">Sign In</button>
                        </div>
                        <div class="form-group d-md-flex">
                        </div>
                    </div>
                    <p class="text-center">Already a member? <a href="login.html">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Singin End /-->