@model Web_ManagementHouseRentals.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Reset Password</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Token" />
            <div class="form-group">
                <label asp-for="UserName">Email</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">New password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset password" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>